#colcon
build/
install/
log/

#根目录的文件
.colcon/
compile_commands.json

#运行时目录
.ros/

#ROS2 bag
bag/

**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/CTestTestfile.cmake
**/CPackConfig.cmake
**/CPackSourceConfig.cmake
**/*.o
**/*.obj
**/*.so
**/*.so.*
**/*.a
**/*.dll
**/*.dylib
**/*.exe
**/*.out

.cache/
.idea/

*.swp
*.swo
*~

.vscode/browse.vc.db*
.vscode/ipch/

.claude


__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

*.mp4
*.drawio
